<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Editar {{place.name}}</h1>
            <hr>
            <form action="/places/edit/{{place._id}}" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{place.name}}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="weapon" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="weapon" name="weapon"
                                value="{{place.description}}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="occupation" class="form-label">Rating</label>
                    <input type="text" class="form-control" id="occupation" name="occupation" value="{{place.rating}}">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Coordenadas</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitud"
                        value="{{place.location.coordinate[0]}}">
                    <br>
                    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitud"
                        value="{{place.location.coordinate[1]}}">
                </div>

                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Guardar edición</button>
                </div>
            </form>
        </div>
    </div>


</div>