<div class="container d-flex justify-content-center align-items-center cardDetails">
    <div class="card text-center bg-dark" style="max-width: 100%">
        <div class="row g-0 align-items-center">
            <div class="col-md-4">
                <figure>
                    <img src={{place.imageUrl}} class="img-fluid rounded-start m-3 p-2" alt="{{name}}">
                </figure>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{place.name}}</h5>
                    <p class="card-text">{{place.description}}</p>
                    <p class="card-text">Rating: {{place.rating}}</p>
                    <figure id="detailsMap"></figure>
                    {{#each place.comments}}
                    <div class='card text-center bg-dark border-bottom border-warning border-2'>
                        <p class="card-text">Comments: {{text}}</p>
                        <p class="card-text">Owner: {{owner.username}}</p>
                        <form action="/reviews/{{id}}/delete" method="POST">
                            <input type="submit" value="Delete" class="btn btn-outline-danger">
                        </form>
                    </div>
                    {{/each}}
                    <a href="/reviews/create/{{place._id}}" class="btn btn-outline-light">Add Comment</a>
                    {{#if isCreator }}
                    <a href="/places/{{place._id}}/edit" class="btn btn-outline-warning">Edit</a>
                    {{/if}}
                    {{#if isAdmin }}
                    <a href="/places/{{place._id}}/edit" class="btn btn-outline-warning">Edit</a>
                    <form action="/places/{{place._id}}/delete" method="POST" style="display:inline">
                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
                    {{/if}}
                    <a href="/" class="btn btn-outline-light">Home</a>
                    <a href="/user/profile/favorites/{{place._id}}" class="btn btn-outline-light">Add to my profile</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/mapStyles.js"></script>
        <script src="/js/placesMap.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww&callback=initMap">
            </script>
    </div>
</div>