<div class="container d-flex justify-content-center align-items-center cardDetails">
    <div class="card text-center" style="max-width: 540px">
        <div class="row g-0 align-items-center">
            <div class="col-md-3">
                <figure>
                    <img src={{place.imageUrl}} class="img-fluid rounded-start" alt="{{name}}">
                    <figcaption>{{name}}</figcaption>
                </figure>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">{{place.name}}</h5>
                    <p class="card-text">{{place.description}}</p>
                    <p class="card-text">Rating: {{place.rating}}</p>
                    <figure id="detailsMap"></figure>
                    <p class="card-text">Comments: {{place.comments}}</p>

                    {{#if isAdmin }}
                    <a href="/places/{{place._id}}/edit" class="btn btn-warning">Editar</a>
                    <form action="/places/{{place._id}}/delete" method="POST" style="display:inline">
                        <input type="submit" value="Eliminar lugar" class="btn btn-danger">
                    </form>
                    {{/if}}
                    {{#if isCreator}}
                    <a href="/places/{{place._id}}/edit" class="btn btn-warning">Editar</a>
                    {{/if}}

                    <a href="/" class="btn btn-dark">Volver al inicio</a>
                    <a href="/user/profile/favorites/{{place._id}}" class="btn btn-dark">Añadir a mi lista</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/mapStyles.js"></script>
        <script src="/js/placesMap.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww&callback=initMap">
            </script>
    </div>
</div>
