<div class="container mt-5">

    <img src="{{imageUrl}}" class="img-fluid rounded-start" alt="{{name}}">
    <figcaption>{{username}}</figcaption>

    <h1>Perfil: {{username}}</h1>
    <p>{{email}}</p>
    {{#each favorites}}
    <div class="container d-flex justify-content-center align-items-center cardDetails">
        <div class="card text-center" style="max-width: 540px">
            <div class="row g-0 align-items-center">
                <div class="col-md-4">
                    <figure>
                        <img src={{imageUrl}} class="img-fluid rounded-start" alt="{{name}}">
                        <figcaption>{{name}}</figcaption>
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text">Rating: {{rating}}</p>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>