<div class="container mt-5">

    <img src="{{imageUrl}}" class="img-fluid rounded-start" alt="{{name}}">
    <figcaption>{{username}}</figcaption>

    <h1>Perfil: {{username}}</h1>
    <p>{{email}}</p>
</div>